<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Stencilfy</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

  </head>
  
  <body>

    <div id="smallOverview">
      <h1>Stencilfy</h1>
      <hr>
      <p>
          Stencilfy creates stenciled text by removing internal paths (called islands or counters) from your characters, so</p>
      </p>

      <img src="assets/bodega_default.svg"/>

      <p>becomes</p>

      <img src="assets/bodega_stencil.svg"/>

      <p>This can be especially handy if you're laser-cutting text!</p>

      <p>You can import any font of your choice and export an SVG so you can bring the output into CorelDraw, Illustrator, or the graphics software of your choice.
      </p>

      <p>Here's a video of the full workflow</p>
      <video controls autoplay width="100%">
        <source src="/assets/stencilfy.mp4" type="video/mp4">
      </video>
      
      <p>
        Stencilfy works best on desktop, so open it on a larger screen to get started.
      </p>
      <hr>
      <p>
        Built by <a href="https://twitter.com/scientiffic" target="_blank">@scientiffic</a> at <a href="https://www.recurse.com/" target="_blank">Recurse</a> using <a href="https://www.npmjs.com/package/js-clipper" target="_blank">clipper.js</a> and <a href="https://github.com/shrhdk/text-to-svg" target="_blank">text-to-svg</a>.</p>
      </p>
    </div>


    <div id="header">
      <h1>Stencilfy</h1>
      <p>Removes <u>islands</u> from your text to make it laser-cutter ready.</p>
    </div>

    <div id="content">
      <div id="instructions">      
        <div class="instructions-container">
        <h2 class="step">
          1. Enter your text
        </h2>
        <form method="POST" id="textForm" action="/">
          <input name="text" type="text" placeholder="Your text">
        </form>
      </div>

      <div class="instructions-container">
        <h2 class="step">
          2. Select a font
        </h2>
        <br>
        <img src="/assets/Roboto.svg" class="fontBtn active" data-name="Roboto"/>
        <img src="/assets/FredokaOne.svg" class="fontBtn" data-name="FredokaOne"/>
        <img src="/assets/Righteous.svg" class="fontBtn" data-name="Righteous"/>
      </div>

      <div class="instructions-container" style="margin-left: 15px;">
        <h2 class="step" style="display: inherit; margin: 0; border: none;">
          ...or upload your own font!
        </h2>
        <br>

        <input id="fontFile" type="file" name="fontFile" onchange="saveFont()">
        <label for="fontFile" class="fontLabel"><i class="fa fa-fileupload"></i>Choose a file...</label>
        <br>
        <div class="fontName">Font Name</div>
      </div>
      <div class="instructions-container">
        <h2 class="step">
          3. Click the button below to stencilfy!
        </h2><br>
        <button type="submit" class="stencilBtn">Stencilfy <i class="fa fa-magic"></i></button>
      </div>
    </div>
      
      <!-- Test imported SVG -->
      <div id="output">

      <div class="output-section stencil">
        <h2 class="outputType">Stencilfied</h2>

        <div id="svg-stencil" class="output-container"></div>
        <a><button class="export stencil">Export SVG</button></a>
      </div>

        <div class="output-section default">
          <h2 class="outputType">Original Font (for reference)</h2>
          <div id="svg-default" class="output-container"></div>
          <a><button class="export default">Export SVG</button></a>
        </div>
      </div>
      
    </div>

    <div class="footer">
      Built by <a href="https://twitter.com/scientiffic" target="_blank">@scientiffic</a> at <a href="https://www.recurse.com/" target="_blank">Recurse</a>
    </div>

  </body>
  </html>
    
    <script>    

      // toggle fonts when user selects different fonts
      $('.fontBtn').on('click', function(){
        $('.fontBtn').removeClass('active');
        $(this).addClass('active');

        // remove font name if necessary
        $('.fontName').fadeOut();

        var font = $(this).data('name');
        // load the new font on the server
        selectFont(font);

        if($('input[name="text"]').val()){
          // rerun stencil with selected font
          $('.stencilBtn').click();
        } 
      });
      
      var validFontTypes = ["otf", "ttf", "woff"];
      // saveFont()
      // save the uploaded font file to a temporary file to use in node
      function saveFont(){
        // console.log('saveFont triggered');

        var fileName = $('#fontFile')[0].files[0].name;
        var fileExt = fileName.substr(fileName.lastIndexOf('.') + 1).toLowerCase();
        if(validFontTypes.includes(fileExt)){
          var formData = new FormData();
          formData.append('file', $('#fontFile')[0].files[0]);

          $.ajax({
            type: 'POST',
            url: '/saveFont',
            data: formData,
            contentType: false,
            processData: false,
            success: function(data){
              console.log(data);
              // show font name
              $('.fontName').html(data);
              $('.fontName').css('display', 'inline-block');
              $('.fontName').fadeIn();
              
              // clear selected font
              $('.fontBtn').removeClass('active');

              if($('input[name="text"]').val()){
                // rerun stencil with selected font
                $('.stencilBtn').click();
              }  
            }
          });
        }else{
          window.alert('Please select a valid .otf, .ttf., or .woff font file');
        }
      }
      

// selectFont(font) 
// switches font from pre-selected options
  function selectFont(font){
    $.ajax({
       type: 'POST',
       data: JSON.stringify({font: font}),
       contentType: 'application/json',
       url: '/loadFont',
       success: function(data){
         console.log('successfully loaded font');
       }
    });
  }

  // add svg output to page
      
    function addSVGtoPage(origSVG, newSVG){
      $('#svg-default').html(origSVG);
      $('#svg-stencil').html(newSVG);
    }

    // enable user to export SVGs
    $('button.export').click(function(){
        console.log('clicked export');
        var svgData = $(this).closest('.output-section').find('svg')[0].outerHTML;
        var svgBlob = new Blob([svgData], {type:"image/svg+xml"});
        var svgUrl = URL.createObjectURL(svgBlob);
        console.log(`svgUrl: ${svgUrl}`);
        var downloadLink = document.createElement("a");
        downloadLink.href = svgUrl;
        if($(this).hasClass('stencil')){
          downloadLink.download = "stencil.svg";
        }else{
          downloadLink.download = "default.svg";
        }
        
        document.body.appendChild(downloadLink);
        downloadLink.click();
        document.body.removeChild(downloadLink);
      });

    // run stencilfy
     $('.stencilBtn').click(function(e){
       e.preventDefault();
       // console.log('stencil button clicked');
       
       var data = {};
       data.text = $('input[name="text"]').val();
       
       $.ajax({
         type: 'POST',
         data: JSON.stringify(data),
         contentType: 'application/json',
         url: '/createStencil',
         success: function(data){
           console.log('success');
           var svg = data;
           console.log(JSON.stringify(data));
           addSVGtoPage(svg.origSVG, svg.newSVG);
           $('#output').addClass('active').fadeIn();
         }
       });
       
     });

     $(window).load(function(){
        // $('.stencilBtn').click();
         if($(window).width() < 500){
          $('div').not('#smallOverview').hide();
          $('#smallOverview').show();
        }
     });

      $(window).resize(function(){
        if($(window).width() > 500){
          $('div').not('#smallOverview').show();
          if($('#output').hasClass('active')==false){
            $('#output').hide();
          }
          $('#smallOverview').hide();
        }
      });
      
    </script>
  </body>
</html>