<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Text Animator</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/animate.js"></script>
    <script src="/anime.min.js"></script>

  </head>
  
  <body>
    <h1 class="name"></h1>
      <form method="POST">
        <input name="name" type="text" placeholder="Your Name">
        <button type="submit">Animate!</button>
      </form>
    
    <!-- Test imported SVG -->
    
    <div id="lineDrawing">
      <g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-width="1" class="lines">
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 48.93 19.72">
        <defs>
          <style>.cls-1{fill:none;stroke:#231f20;stroke-miterlimit:10;}</style>
        </defs>
          <path class="cls-1" d="M148.8,159h3v15.6h-3Zm3,3.12h3v3.12h-3Zm0,12.48h3v3.12h-3Zm3-3.12h3v3.12h-3Z" transform="translate(-148.3 -158.53)"/>
          <path class="cls-1" d="M157.8,174.63v-9.36h3v9.36Zm3-9.36v-3.12h6v3.12Zm0,6.24v-3.12h6v3.12Zm0,6.24v-3.12h12v3.12Zm6-9.36v-3.12h3v3.12Z" transform="translate(-148.3 -158.53)"/>
          <path class="cls-1" d="M172.75,168.39v-3.12h3v3.12Zm0,9.36v-3.12h9v3.12Zm3-12.48v-3.12h9v3.12Zm0,6.24v-3.12h6v3.12Zm6,3.12v-3.12h3v3.12Zm3,3.12v-3.12h3v3.12Z" transform="translate(-148.3 -158.53)"/>
          <path class="cls-1" d="M187.73,159h3v15.6h-3Zm3,3.12h3v3.12h-3Zm0,12.48h3v3.12h-3Zm3-3.12h3v3.12h-3Z" transform="translate(-148.3 -158.53)"/>
      </svg>
      </g>
    </div>
    
    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
    
    <script>
    // show the input field item on page
    var input = document.querySelector('input[name="name"]');
    var output = document.querySelector('.name');
    input.addEventListener('keyup', updateText());

    function updateText() {
      return function() {
        var newText = this.value;
        output.textContent = newText;
      }				
    }
      
    var lineDrawing = anime({
      targets: '#lineDrawing .lines path',
      strokeDashoffset: [anime.setDashoffset, 0],
      easing: 'easeInOutSine',
      duration: 1500,
      delay: function(el, i) { return i * 250 },
      direction: 'alternate',
      loop: true
    });
    
    </script>
    
  </body>
</html>