/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color: lavender;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size: 50px;
  font-weight: 100;
}

h2{
  font-weight: 200;
}

.bold {
  font-weight: bold;
}

#instructions{
  padding: 25px;
  box-shadow: 4px 5px #6864642e;
  background: #ffffff70;
  margin: 0 auto;
}

form {
  margin-bottom: 25px;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  padding: 10px 15px;
  background-color: #3f3fb8;
  box-shadow: 2px 2px #d0d0d07a;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #6d6df3;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

#textSVG{
  padding: 25px 5px;
}
