/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  width: 90%;
  margin: auto;
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-weight: 400;
  color: white;
  background: #2b2b2b;
}

h1 {
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 0px;
  color: white;
}

h2{
  font-weight: 200;
  color: white;
}

u{
  text-decoration: underline dotted;
}

input{
  margin-left: 15px;
}

a{
  color: white;
}

#smallOverview img{
  max-width: 100%;
}

video{
  margin: 30px 0px;
}

#content{
  margin: 0 -15px;
}

.hidden{
  display: none;
}

#instructions{
  float: left;
  width: 35%;
  margin: 0 50px 0 20px;
}

#fontFile{
  margin-left: 10px;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

label.fontLabel:hover{
  cursor: pointer;
}

#header{
  padding: 0px 20px;
}

.instructions-container{
  flex-grow: 1;
  padding: 0 20px;
  margin-top: 20px;
}

.instructions-container img{
  height: 60px;
  display: inline;
  padding: 10px;
  border-radius: 4px;
  margin: 10px;
  transition: background 0.5s ease;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 2px 2px #d0d0d07a;
}

.instructions-container img:hover{
  cursor: pointer;
  background: #9b9bff;
  transform: translate(1px, 1px);
}

.instructions-container img.active{
  background: #9b9bff;
  transform: translate(1px, 1px);
}

.step, .outputType{
  display: inline-block;
  margin-bottom: 15px;
  border-top: 2px solid #d4d4d4;
  padding-top: 10px;
}

#stencilBtn{
  margin-left: 10px;
  padding: 15px 25px;
  border-radius: 5px;
  font-size: 1.4em;
  margin-bottom: 30px;
  background: #32c5b7;
  border: none;
}

form {
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button, label.fontLabel {
  font-size: 16px;
  border-radius: 3px;
  padding: 10px 15px;
  color: white;
  cursor: pointer;
  transition-duration: 0.5s;
  font-weight: 400;
  box-shadow: 2px 2px #d0d0d07a;
}

button:hover, label.fontLabel:hover{
  cursor: pointer;
  transform: translate(1px, 1px);
}

label.fontLabel{
  background-color: white;
  color: black;
}

label.fontLabel:hover{
  background-color: #e6e6e6;
}

.fontName{
  margin: 25px 0px 0px;
  color: #9b9bff;
  font-weight: bold;
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.fontName.hidden{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}


button:active{
  box-shadow: none;
  background-color: #161661;
}

button.export{
    background-color: white;
    color: black;
    margin: 10px 0px;
    padding: 5px 10px;
}

#output{
  float: left;
  visibility: hidden;
  opacity: 0;
  padding: 0 15px;
  background: #f5f5f5;
  box-shadow: 2px 2px #d0d0d07a;
  border-radius: 5px;
}

#output.visible{
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

#output h2{
  color: black;
  margin-bottom: 10px;
}

.output-container{
  padding: 20px;
  background: white;
  border: 1px solid #eaeaea;
}

.footer{
    display: inline-block;
    width: 100%;
    margin-top: 50px;
    border-top: 1px solid #525252;
    padding: 15px;
    font-size: smaller;
}
}