/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-weight: 400;
  color: #878787;
  background: lavender;
}

h1 {
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 0px;
  color: black;
}

h2{
  font-weight: 200;
  color: black;
}

u{
  text-decoration: underline dotted;
}

hr{
  margin: 50px 15px 0px;
  border: 1px dotted white;
}

input{
  margin-left: 15px;
}

#fontFile{
  margin-left: 10px;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

label.fontLabel:hover{
  cursor: pointer;
}

#header{
  padding: 0px 20px;
}

.instructions-container{
  flex-grow: 1;
  padding: 0 20px;
}

.instructions-container img{
  height: 70px;
  display: inline;
  padding: 10px;
  border-radius: 4px;
  margin: 10px;
  border: 1px solid lightgrey;
  transition: background 0.5s ease;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 2px 2px #d0d0d07a;
}

.instructions-container img:hover{
  cursor: pointer;
  background: #9b9bff;
  transform: translate(1px, 1px);
}

.instructions-container img.active{
  background: #9b9bff;
  transform: translate(1px, 1px);
}

.step{
  display: inline-block;
  margin-bottom: 15px;
  border-top: 2px solid #d4d4d4;
  padding-top: 10px;
}

.stencilBtn{
  margin-left: 10px;
  padding: 15px 25px;
  border-radius: 5px;
  font-size: 1.4em;
  margin-bottom: 30px;
  background: #32c5b7;
}


#output{
  display: none;
  padding: 20px;
  border-top: 1px solid #d4d4d4;
  background: #f7f7f7;
}

.output-container{
  padding: 20px;
  margin: 5px 0px 50px 0px;
  background: white;
  border: 1px solid #eaeaea;
}

form {
  margin-bottom: 25px;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button, label.fontLabel {
  font-size: 16px;
  border-radius: 3px;
  padding: 10px 15px;
  color: white;
  cursor: pointer;
  transition-duration: 0.5s;
  font-weight: 400;
  box-shadow: 2px 2px #d0d0d07a;
}

button:hover, label.fontLabel:hover{
  cursor: pointer;
  transform: translate(1px, 1px);
}

label.fontLabel{
  background-color: #cccccc;
  color: black;
  border: 1px solid lightgrey;
}

label.fontLabel:hover{
  background-color: #bfbfbf;
}

button:active{
  box-shadow: none;
  background-color: #161661;
}

button.export{
    background-color: white;
    color: black;
    margin: 0px 10px;
    padding: 5px 10px;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

#fontForm{
  display: none;
}

.fontName{
  margin: 0px 20px;
  display: none;
}

